.newbox 
{
    background-color: transparent;
    width: 300px;
    border: 15px solid lightblue;
    padding: 50px;
    margin-left: 540px;
    background-color: aliceblue;
    margin-top: 100px;
    position: relative;

  }
  .updbutton
  {
    margin-left: 20px;
  }
  .Manimg
  {
    margin-left: 20px;
    margin-top: -200px;
    height: 600px;
    width: 1460px;
  }
  button
  {
    padding: 10px;
  }